<!-- CloudCannon form settings -->
<input type="hidden" name="_subject" value="Website {% if title == 'Contact' %}General{% else %}{{ title }}{% endif %} Enquiry">
<input type="hidden" name="_to" value="hello@vsctrust.org.nz">
<input type="text" name="_gotcha" class="hidden">