<label for="role" class="font-bold">Role <span class="text-red-500">*</span></label>
<select id="role" name="role">
    <option value="Do Some Good">Do Some Good</option>
    <option value="Take 10">Take 10</option>
    <option value="Take 10 Arvo's">Take 10 Arvo's</option>
    <option value="Gen Link">Gen Link</option>
</select>