
<li class="splide__slide">
  <a href="{% imageUrl gallery.data.image %}" target="_blank" rel="noreferrer noopener nofollow">
    {% image gallery.data.image, gallery.data.image, "(min-width: 5em) 10vw", "max-w-xs h-60 rounded-lg" %}
  </a>
</li>