
<li class="splide__slide">
        <a href="{{ gallery.data.url }}" target="_blank" rel="noreferrer noopener nofollow">
            {% image gallery.data.image, gallery.data.image, "(min-width: 5em) 10vw", "max-w-xs" %}
        </a>
</li>