<li class="timeline-item">
    <div class="timeline-info"><span>{{ milestone.data.timelineDate }}</span></div>
    <div class="timeline-marker"></div>
    <div class="timeline-content">{{ milestone.data.title }}</div>
</li>