<div class="flex flex-col flex-1">
    <a href="/{{ programme.data.name }}/" class="self-center"><img src="{{ programme.data.image }}" class="mb-3" /></a>
    <p>{{ programme.data.description }}</p>
</div>