---
title: Donate
bannerImage: /_public/img/banner/default.jpg
---



<section class="section">
    <div class="grid lg:grid-cols-4 gap-10">
        <div>
            <a href="/dosomegood/">
                {% image "/_public/img/logo/dosomegood.png", "Do Some Good logo", "100vw", "mx-auto mb-3" %}
            </a>
            <div class="editable">
                <p>Help us influence positive change for tamariki living in hardship by helping schools and kindergartens here in Wellington.</p>
                <p>Your donation will go towards:
                    <ul>
                        <li>purchasing food</li>
                        <li>kitchen equipment</li>
                        <li>Christmas party events for low-decile schools</li>
                    </ul>
                </p>
            </div>
        </div>

        <div>
            <a href="/take10/">
                {% image "/_public/img/logo/take10.png", "Take 10 logo", "100vw", "mx-auto mb-3" %}
            </a>
            <div class="editable">
                <p>Help reduce alcohol-related harm and alleviate demands on emergency services by providing a safe zone on Courtenay Place.<p> 
                <p>Your donation will go towards:
                    <ul>
                        <li>volunteer training</li>
                        <li>uniforms</li>
                        <li>consumables (water, lollies, etc.)</li>
                        <li>meals/resources given to our volunteers</li>
                    </ul>
                </p>
            </div>
        </div>

        <div>
            <a href="/take10-arvos/">
                {% image "/_public/img/logo/take10-arvos.png", "Take 10 Arvo's logo", "100vw", "mx-auto mb-3" %}
            </a>
            <div class="editable">
                <p>Our focus is to increase the reach Take 10 has in the community by extending the services we offer to rangatahi in the form of a youth zone.<p> 
            </div>
        </div>

        <div>
            <a href="/gen-link/">
                {% image "/_public/img/logo/gen-link.png", "Gen Link logo", "100vw", "mx-auto mb-3" %}
            </a>
            <div class="editable">
                <p>Generation Link aims to lessen the generation gap by connecting tamariki with older folk within their local communities.<p> 
            </div>
        </div>
    </div>

    <div class="mt-5 text-center editable">
        <p>Together, we can help improve the well-being of the most vulnerable people in our community, whether its youth that need late night help in the city or tamariki living in hardship.</p>
        <p class="mb-0"><strong>Thank you for your support!</strong></p>
    </div>
</section>

<section class="bg-gray-100 dark:bg-gray-900">
    <div class="section pb-4">
        <iframe height="596px" name="donorbox" scrolling="no" seamless="seamless" src="https://donorbox.org/embed/vulnerable-support-charitable-trust" style="max-width: 400px; min-width: 310px; max-height:none!important; display: block; margin: auto;" width="100%"></iframe>
    </div>
</section>

<script src="https://donorbox.org/widget.js" paypalExpress="false"></script>