---
title: Do Some Good
bannerImage: /_public/img/banner/dosomegood.jpg
---

<section class="section">
    <div class="grid lg:grid-cols-2 gap-10">
        <div class="editable">
            {% image "/_public/img/logo/dosomegood-lg.png", "Do Some Good logo", "100vw", "mx-auto" %}
        </div>
        <div class="grid gap-5">
            <div class="editable"><h3>Have fun.</h3></div>
            <div class="editable"><h3>Help kids.</h3></div>
            <div class="editable"><h3>Do Some Good.</h3></div>
            <div class="editable">
                <p>Do Some Good bridges the gap between businesses and low decile schools.</p>
                <p>Kiwi kids living in hardship deserve more support, opportunities and experiences from the wider community. With many businesses seeking to promote corporate social responsibility, we aim to direct their focus, and their customised offer of support, to kids that need it the most.</p>
            </div>
        </div>
    </div>
</section>

{% if collections.doSomeGoodSchools %}
<section class="section">
    <div class="editable">
        <h2><a href="#schools" id="schools">Our Schools</a></h2>
    </div>
    <div class="grid lg:grid-cols-4 h-64 overflow-hidden overflow-y-scroll">
        {% for school in collections.doSomeGoodSchools %}
            {% include 'components/school.njk' %}
        {% endfor %}
    </div>
</section>
{% endif %}

<section class="section">
    <div id="map" class="rounded-lg" style="height: 400px; width: 100%"></div>
</section>

<section class="section">
    <div class="editable">
        <h2><a href="#wanttohelp" id="wanttohelp">Want to help?</a></h2>
    </div>
    <div class="grid lg:grid-cols-2 gap-10">
        <div class="flex flex-col">
            <div class="editable">
                <p>We aim to sponsor 20 schools by 2021. We’re looking to partner with businesses to help provide school lunches, and put together corporate volunteer days and annual Christmas parties.</p>
            </div>
            <div class="mt-auto">
                {% button 'Sponsor', '/sponsor-a-school/', 'bg-red-400', 'bg-red-300' %}
            </div>
        </div>
        <div class="flex flex-col">
            <div class="editable">
                <p>We’re looking for volunteers to come out and clean schools, make food, and spend time with tamariki. Interested? Click below, fill in your details and we’ll get back to you!</p>
            </div>
            <div class="mt-auto">
                {% button 'Volunteer', '/volunteer/', 'bg-red-400', 'bg-red-300' %}
            </div>
        </div>
    </div>
</section>

{% if collections.doSomeGoodTestimonials %}
<section class="section">
    <div class="editable">
        <h2><a href="#testimonials" id="testimonials">Testimonials</a></h2>
    </div>
    <div class="grid lg:grid-cols-2 gap-10 dosomegood">
        {% for testimonial in collections.doSomeGoodTestimonials %}
            {% include 'components/testimonial.njk' %}
        {% endfor %}
    </div>
</section>
{% endif %}

{% if collections.doSomeGoodGallery %}
<section class="section">
    <div class="editable">
        <h2><a href="#gallery" id="gallery">Gallery</h2>
    </div>
    <div class="splide dosomegood">
        <div class="splide__track">
            <ul class="splide__list">
                {% for gallery in collections.doSomeGoodGallery %}
                    {% include 'components/gallery.njk' %}
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
{% endif %}

{% if collections.doSomeGoodSponsors %}
<section class="section">
    <div class="editable">
        <h2><a href="#sponsors" id="sponsors">Sponsors</a></h2>
    </div>
    <div class="splide dosomegood">
        <div class="splide__track">
            <ul class="splide__list">
                {% for gallery in collections.doSomeGoodSponsors %}
                    {% include 'components/logo-gallery.njk' %}
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
{% endif %}

{% if collections.doSomeGoodSupporters %}
<section class="section">
    <div class="editable">
        <h2><a href="#supporters" id="supporters">Supporters</h2>
    </div>
    <div class="splide dosomegood">
        <div class="splide__track">
            <ul class="splide__list">
                {% for gallery in collections.doSomeGoodSupporters %}
                    {% include 'components/logo-gallery.njk' %}
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
{% endif %}

<script src="/js/dosomegood.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkc4uQbVCPFZLG52dHzcm8ww3Fsf10-yE&callback=initMap&libraries=&v=weekly" async></script>

<script src="/js/splide.min.js"></script>
<script src="/js/splide-init.js"></script>