---
title: Message sent!
bannerImage: /_public/img/banner/default.jpg
eleventyExcludeFromCollections: true
---

<section class="section">
    <div class="editable">
        <p class="text-2xl text-center font-semibold">We'll get back to you as soon as possible.</p>
    </div>
    {% button '← Back Home', '/', 'bg-gray-500', 'bg-gray-400' %}
</section>